
 
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <title>Cardoor - Car Rental HTML Template</title>

    <!--=== Bootstrap CSS ===-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!--=== Slicknav CSS ===-->
    <link href="/css/slicknav.min.css" rel="stylesheet">
    <!--=== Magnific Popup CSS ===-->
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <!--=== Owl Carousel CSS ===-->
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <!--=== Gijgo CSS ===-->
    <link href="/css/gijgo.css" rel="stylesheet">
    <!--=== FontAwesome CSS ===-->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!--=== Theme Reset CSS ===-->
    <link href="/css/reset.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="/css/style.css" rel="stylesheet">
    <!--=== Responsive CSS ===-->
    <link href="/css/responsive.css" rel="stylesheet">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPzLdcKEPCe4SQf3-cdSnq5vmh_MRaHCs&libraries=places"></script>


</head>

<body class="loader-active">

    <!--== Preloader Area Start ==-->
    <div class="preloader">
        <div class="preloader-spinner">
            <div class="loader-content">
                <img src="/images/preloader.gif" alt="JSOFT">
            </div>
        </div>
    </div>
    <!--== Preloader Area End ==-->

    <!--== Header Area Start ==-->
    <header id="header-area" class="fixed-top">
        <!--== Header Top Start ==-->
        <div id="header-top" class="d-none d-xl-block">
            <div class="container">
                <div class="row">
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-left">
                        <i class="fa fa-map-marker"></i> Oyo Flagship 12684, Ejipura, Bengaluru
                    </div>
                    <!--== Single HeaderTop End ==-->

                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-mobile"></i> +1 800 345 678
                    </div>
                    <!--== Single HeaderTop End ==-->

                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-clock-o"></i> Mon-Fri 09.00 - 17.00
                    </div>
                    <!--== Single HeaderTop End ==-->

                    <!--== Social Icons Start ==-->
                    <div class="col-lg-3 text-right">
                        <div class="header-social-icons">
                            <a href="#"><i class="fa fa-behance"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <!--== Social Icons End ==-->
                </div>
            </div>
        </div>
        <!--== Header Top End ==-->

        <!--== Header Bottom Start ==-->
        <div id="header-bottom">
            <div class="container">
                <div class="row">
                    <!--== Logo Start ==-->
                    <div class="col-lg-4">
                        <a href="/" class="logo">
                            <img src="/images/logo.png" alt="JSOFT">
                        </a>
                    </div>
                    <!--== Logo End ==-->

                    <!--== Main Menu Start ==-->
                    <div class="col-lg-8 d-none d-xl-block">
                        <nav class="mainmenu alignright">
                            <ul>
                                <li class="active"><a href="/">Home</a>

                                </li>

                                <li><a href="/">Pages</a>
                                    <ul>
                                        <li><a href="/login">Log In</a></li>
                                        <li><a href="/register">Register</a></li>
                                        <li><a href="/destination">Book Now</a></li>
                                        <li><a href="/logout">Log Out</a></li>
                                    </ul>
                                </li>

                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--== Main Menu End ==-->
                </div>
            </div>
        </div>
        <!--== Header Bottom End ==-->
    </header>
    <!--== Header Area End ==-->

    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay" style="height:700px">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Book your Ride</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>

    <section class="info-cell">
        <div class="submission-container">
            <h2>Book your ride</h2>
            <input id="name" type="text" placeholder="UserName">
            <input type="text" id="drop" placeholder="Destination">
            <button type="submit" class="btn-success" onclick="hit()" id="get">Get Ride</button>
            <button class="btn-success" id="g"style="margin-top:10px">Double click to see your route!</button>
        </div>

        <div class="card">
            <h2>Your Ride</h2>
            <h5 style="padding: 8px ;margin: 8px; background-color:rgb(255, 208, 0);border-bottom-color: rgb(85, 85, 85);
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(85, 85, 85);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(85, 85, 85);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(85, 85, 85);
border-top-style: solid;
border-top-width: 1px;font-size: 14px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;text-align: left" id="dest">Your Destination: </h5>
            <h5 style="padding: 8px ;margin: 8px; background-color:rgb(255, 208, 0);border-bottom-color: rgb(85, 85, 85);
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(85, 85, 85);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(85, 85, 85);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(85, 85, 85);
border-top-style: solid;
border-top-width: 1px;font-size: 14px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;text-align: left" id="dist">Total Distance: </h5>
            <h5 style="padding: 8px ;margin: 8px; background-color:rgb(255, 208, 0);border-bottom-color: rgb(85, 85, 85);
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(85, 85, 85);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(85, 85, 85);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(85, 85, 85);
border-top-style: solid;
border-top-width: 1px;font-size: 14px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;text-align: left" id="time">Total Duration: </h5>
            <h5 style="padding: 8px ;margin: 8px; background-color:rgb(255, 208, 0);border-bottom-color: rgb(85, 85, 85);
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(85, 85, 85);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(85, 85, 85);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(85, 85, 85);
border-top-style: solid;
border-top-width: 1px;font-size: 14px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;text-align: left" id="share">Your Cab Share: </h5>
            <h5 style="padding: 8px ;margin: 8px; background-color:rgb(255, 208, 0);border-bottom-color: rgb(85, 85, 85);
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(85, 85, 85);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(85, 85, 85);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(85, 85, 85);
border-top-style: solid;
border-top-width: 1px;font-size: 14px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;text-align: left" id="partners">Partners: </h5>
    </div>





    </section>
    <hr> 
    <!--== Login Page Content End ==-->
    <div id="map-canvas" style="height: 500px; width: 100%;align-self: center"></div>
    <!--== Footer Area Start ==-->
    <section id="footer-area">
        <!-- Footer Widget Start -->
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>About Us</h2>
                            <div class="widget-body">
                                <img src="/images/logo.png" alt="JSOFT">
                                <p>Welcome to the best carpool services in Bengaluru</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->

                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>Recent Posts</h2>
                            <div class="widget-body">
                                <ul class="recent-post">
                                    <li>
                                        <a href="#">
                                           Hello Bengaluru! 
                                           <i class="fa fa-long-arrow-right"></i>
                                       </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->

                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>Get touch</h2>
                            <div class="widget-body">
                                <p>We are here to serve you. May you enjoy your rides</p>

                                <ul class="get-touch">
                                    <li><i class="fa fa-map-marker"></i>Oyo Flagship 12684, Ejipura, Bengaluru</li>
                                    <!-- <li><i class="fa fa-mobile"></i></li>
                                    <li><i class="fa fa-envelope"></i> snigdhaansu@gmail.com</li> -->
                                </ul>
                                <a href="https://www.google.com/maps/place/OYO+Flagship+12684+Compact+Green+View/@12.943193,77.6282705,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae1441d43b917f:0x9a41586e08ed095e!8m2!3d12.943193!4d77.6304592" class="map-show" target="_blank">Show Location</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->
                </div>
            </div>
        </div>

    </section>
    <!--== Footer Area End ==-->

    <!--== Scroll Top Area Start ==-->
    <div class="scroll-top">
        <img src="/images/scroll-top.png" alt="JSOFT">
    </div>
    <!--== Scroll Top Area End ==-->

    <!--=======================Javascript============================-->
    <!--=== Jquery Min Js ===-->
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <!--=== Jquery Migrate Min Js ===-->
    <script src="/scripts/jquery-migrate.min.js"></script>
    <!--=== Popper Min Js ===-->
    <script src="/scripts/popper.min.js"></script>
    <!--=== Bootstrap Min Js ===-->
    <script src="/scripts/bootstrap.min.js"></script>
    <!--=== Gijgo Min Js ===-->
    <script src="/scripts/gijgo.js"></script>
    <!--=== Vegas Min Js ===-->
    <script src="/scripts/vegas.min.js"></script>
    <!--=== Isotope Min Js ===-->
    <script src="/scripts/isotope.min.js"></script>
    <!--=== Owl Caousel Min Js ===-->
    <script src="/scripts/owl.carousel.min.js"></script>
    <!--=== Waypoint Min Js ===-->
    <script src="/scripts/waypoints.min.js"></script>
    <!--=== CounTotop Min Js ===-->
    <script src="/scripts/counterup.min.js"></script>
    <!--=== YtPlayer Min Js ===-->
    <script src="/scripts/mb.YTPlayer.js"></script>
    <!--=== Magnific Popup Min Js ===-->
    <script src="/scripts/magnific-popup.min.js"></script>
    <!--=== Slicknav Min Js ===-->
    <script src="/scripts/slicknav.min.js"></script>

    <!--=== Mian Js ===-->
    <script src="/scripts/main.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>
<!-- rows[""0""].elements[""0""].distance -->
<!-- rows[""0""].elements[""0""].distance -->
<script>
    const name=document.getElementById('name');
    const drop=document.getElementById('drop');
    
    function hit() {
        var username=name.value;
        var dropLoc=drop.value;
        //console.log(dropLoc);
        //console.log(username);
        var check=0;
        
        axios.post('/destination',{
            username : username,
            drop : dropLoc
        })
        .then(function(response){
            if(response)
            check=1;
        })
        .catch(function(err){
            console.log(err);
        });
        
        display();
    }
    function display() {
        var pickup = 'kempagowda';
        var dropLocataion= document.getElementById('drop').value;
        var url1 = 'https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=';
        var url2 = '&destinations=';
        var url3 = '&key=AIzaSyAPzLdcKEPCe4SQf3-cdSnq5vmh_MRaHCs';
        var url4 = url1 + pickup + url2 + dropLocataion + url3;
        //console.log(url4);
        let o;
        var xhr = new XMLHttpRequest;
        xhr.addEventListener('load', function() {
           
            o = JSON.parse(this.responseText);
            console.log("hi");
            console.log(o);
            document.getElementById('dist').innerText = "Total distance : " + o.rows["0"].elements["0"].distance.text;
            console.log(o.rows["0"].elements["0"].distance.text);
            document.getElementById('time').innerText = "Total duration : " + o.rows["0"].elements["0"].duration.text;
            console.log(o.rows["0"].elements["0"].duration.text);
            document.getElementById('dest').innerText = "Your Destination : " + document.getElementById('drop').value;
        });
        xhr.open('GET', "https://cors-anywhere.herokuapp.com/" + url4);
        xhr.send();
    }
       
       
       setInterval(function(){
       axios.get('/destination/sender')
       .then(function(response){
          //console.log(response);
          var users=[];
          var dropLoc=drop.value;
          var count=0;
          for(var i=0;i<response.data.length;i++){
              if(response.data[i].drop==dropLoc){
              users[count]=response.data[i].username;
              count++;
            }
            }
            var dist=document.getElementById('dist');
            //console.log(dist.innerText);
            var str=dist.innerText;
           // console.log(str);
            var part=str.split(" ");
           // console.log(part[3]);
            var miles=parseFloat(part[3]);
            console.log(miles);
            //console.log(count);
            if(count!=0)
            {
             var cost= (40.0+(miles*25.0))/count;
             document.getElementById('share').innerHTML="Your Cab Share :   "+cost;
            }
             console.log(users);
             document.getElementById('partners').innerText="Cab Riders : ";
             var string="";
            for(var i=0;i<count;i++){
                string=string+"  "+users[i];
            }
            document.getElementById('partners').innerText+=string;
            
       })
       .catch(function(err){
           console.log(err);
       });
   },1000);
    
    
    var button = document.getElementById('g');
// var geocoder = new google.maps.Geocoder();
 //var address = document.getElementById('drop');
function mapLocation() {
var latitude; var longitude;
function showResult(result) {
 latitude = result.geometry.location.lat();
 longitude= result.geometry.location.lng();
 console.log(latitude);console.log(longitude);
}
function getLatitudeLongitude(callback, address) {
 geocoder = new google.maps.Geocoder();
 if (geocoder) {
     geocoder.geocode({
         'address': address
     }, function (results, status) {
         if (status == google.maps.GeocoderStatus.OK) {
             callback(results[0]);
             
         }
     });
 }
}
button.addEventListener("click", function () {
 var address = document.getElementById('drop').value;
 getLatitudeLongitude(showResult, address)
});
var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var map;
function initialize() {
 directionsDisplay = new google.maps.DirectionsRenderer();
 var chicago = new google.maps.LatLng(13.192665896, 77.70333052);
 var mapOptions = {
   zoom: 7,
   center: chicago
 };
 map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
 directionsDisplay.setMap(map);
 google.maps.event.addDomListener(document.getElementById('g'), 'click', calcRoute);
}
function calcRoute() {
 var start = new google.maps.LatLng(13.192665896, 77.70333052);
 //var end = new google.maps.LatLng(38.334818, -181.884886);
 var end = new google.maps.LatLng(latitude, longitude);
 var request = {
   origin: start,
   destination: end,
   travelMode: google.maps.TravelMode.DRIVING
 };
 directionsService.route(request, function(response, status) {
   if (status == google.maps.DirectionsStatus.OK) {
     directionsDisplay.setDirections(response);
     directionsDisplay.setMap(map);
   } else {
     // alert("Directions Request from " + start.toUrlValue(6) + " to " + end.toUrlValue(6) + " failed: " + status);
   }
 });
}
google.maps.event.addDomListener(window, 'load', initialize);
}
mapLocation();
</script>

</html>


