<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="single-slide-item overlay">
            <div class="container">
                <div class="row">
                     <div class="col-lg-5">
                        <div class="book-a-car">
                            <form action="index.ejs">
                               
                                <div class="pickup-location book-item">
                                    <h4>PICK-UP LOCATION:</h4>
                                    <select class="custom-select">
                                      <option selected>Select</option>
                                      <option value="1">Kempegowda International Airport</option>
                                    
                                    </select>
                                </div>

                                <div class="drop-location book-item">
                                    <h4>DROP LOCATION:</h4>
                                    <input type="text" name="drop location"><br>
                                </div>
                                    

                                <div class="book-button text-center">
                                    <button class="book-now-btn">Book Now</button>
                                </div>
                            </form>
                        </div>
                    </div> 
                    </div>
                    </div>
                    </div>
                    
    </body>
</html>